<!DOCTYPE html>

<html ng-app="thinkster">
<head>
  <title>thinkster-django-angular-boilerplate</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body >
  {% include 'navbar.html' %}
    	<div class="row">
    		<div class="col-md-2 leftmarg margr">
				<form action="" method="GET" >{% csrf_token %}
					
					<table>
				    {{ form.as_table }}
					</table>
					<button> Submit </button>
				</form>
			</div>
			<div class="col-md-9 pull-right margr">
		    	<div class="well">
		    		<button id="yearButton"> Sort by year </button>
					<button id="scoreButton"> Sort by feedback score </button>
		    		<div class="searcht">	
						
						
						<table id="tbl" class="ftable">
							<tr>
								<th>S/N</th>
								<th>isbn10</th>
								<th>title</th>
								<th>Image</th>
								<th>authors</th>
								<th>publisher</th>
								<th>year</th>
								<th>stock</th>
								<th>price</th>
								<th>format</th>
								<th>keyword</th>
								<th>subject</th>
								<th> score </th>
							</tr>
						{% for entry in data %}
						
							<tr class="clickable-row" data-href="/book/{{entry.isbn10}}">
								<td> </td>
								<td>{{entry.isbn10}}</td>
								<td>{{entry.title}}</td>
								<td><img src="static/images/{{entry.image}}" class="center smallpic"></td>
								<td>{{entry.authors}}</td>
								<td>{{entry.publisher}}</td>
								<td class ="year">{{entry.year}}</td>
								<td>{{entry.stock}}</td>
								<td>{{entry.price}}</td>
								<td>{{entry.format}}</td>
								<td>{{entry.keyword}}</td>
								<td>{{entry.subject}}</td>
								<td class ="score">{{entry.score}}</td>

							</tr>
						
						{% endfor %}

					</table>
						</div>

					</div>
		</div>
</div>
  {% include 'javascripts.html' %}


<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
<script>
$('#yearButton').click(function () {

    // get rows as array and detach them from the table
    var rows = $('#tbl tr:not(:first)').detach();
    // sort rows by the number in the td with class "pts"
    rows.sort(function (row1, row2) {
        return parseInt($(row1).find('td.year').text()) - parseInt($(row2).find('td.year').text());
    });

    // add each row back to the table in the sorted order (and update the rank)
    rows.each(function () {
        $(this).find('td:first').text();
        $(this).appendTo('#tbl');
    });
});

$('#scoreButton').click(function () {

    // get rows as array and detach them from the table
    var rows = $('#tbl tr:not(:first)').detach();
    // sort rows by the number in the td with class "pts"
    rows.sort(function (row1, row2) {
        return parseInt($(row1).find('td.score').text()) - parseInt($(row2).find('td.score').text());
    });

    // add each row back to the table in the sorted order (and update the rank)
    rows.each(function () {
        $(this).find('td:first').text();
        $(this).appendTo('#tbl');
    });
});
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
</body>
</html>


