<!DOCTYPE html>

<html ng-app="thinkster">
<head>
  <title>thinkster-django-angular-boilerplate</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body  ng-controller="BookInfoController">
  {% include 'navbar.html' %}
  <div class="container">
    <h3>{{bookinfo.title}}</h3>
    <h5>by {{bookinfo.authors}}</h5>
    <div class="row">
		<div class="col-md-5"><img src="static/images/{{bookinfo.image}}" class="center"></div>
		<div class="col-md-7">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
			  <li><a data-toggle="tab" href="#menu1">Reviews</a></li>
			</ul>

			<div class="container tab-color">
			<div class="tab-content">
			  <div id="home" class="tab-pane fade in active topmarg">
				<div class="row">
				  <div class="col-md-3 tar">Subject:</div>
				  <div class="col-md-8">{{bookinfo.subject}}</div>
				</div>
				<div class="row">
				  <div class="col-md-3 tar">Format Available:</div>
				  <div class="col-md-8">{{bookinfo.format}}</div>
				</div>
				<div class="row">
				  <div class="col-md-3 tar">Year of Publication:</div>
				  <div class="col-md-8">{{bookinfo.year}}</div>
				</div>
				<div class="row">
				  <div class="col-md-3 tar">Published by:</div>
				  <div class="col-md-8">{{bookinfo.publisher}}</div>
				</div>
				<div class="row">
				  <div class="col-md-3 tar">ISBN:</div>
				  <div class="col-md-8">{{bookinfo.isbn10}}</div>
				</div>
				<div class="row topmarg">
					<div class="col-md-3 tar">About this book:</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 description bb">"<strong>{{bookinfo.title}}</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
					
				</div>
				<div class="row bb">
					<div class="col-md-5 tar">{{bookinfo.stock}} left in stock.</div>
					<div class="col-md-3 tac">Price: ${{bookinfo.price}}0</div>
					<div class="col-md-4">
						<button type="button" id="checkout" class="btn glyphicon glyphicon-shopping-cart aria-label="Left Align"" data-toggle="modal" data-target="#orderModal"> ORDER NOW           
          				</button>
					</div>
				</div>

			  </div>
			  <div id="menu1" class="tab-pane fade">
			  	
			  	<div class="row topmarg">
			  		<div class="col-md-1"></div>
				  	<div class="col-md-9"><h4>This book has a total of {{fbnum}} feedback(s)</h4></div>
				</div>
				<div class="scroll-review">
				  	{% for fb in feedback %}
				  		<div class="row topmarg">
				  			<div class="col-md-1"></div>
					  		<div class="col-md-3 score">Score: {{fb.score}} / 10</div>
				  			
						</div>
						<div class="row">
							<div class="col-md-1"></div>
					  		<div class="col-md-10 reviewer"><em>Reviewed by - {{fb.login_id}}</em></div>
				  			
						</div>
						<div class="row">
							<div class="col-md-1"></div>
					  		<div class="col-md-9 opinion">{{fb.opinion}}</div>
				  			
						</div>
						<div class="row">
							<div class="col-md-1"></div>
					  		<div class="col-md-9 reviewer opinion">Is this review helpful? <a href="javascript:void(0)" class="announce" data-id="{{bookinfo.isbn10}}/*{{bookinfo.title}}/*{{fb.login_id}}" data-target="#usefulnessModal">Help to rate this feedback!</a></div>
				  			
						</div>
				    {%endfor%}
				</div>
			  </div>
			</div>
			</div>

		</div>
    </div>
  </div>
  <!-- Modal -->
	<div id="orderModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Ordering <strong>{{bookinfo.title}}</strong></h4>
	        <h5>Please check the following and indicate the number of copies you would like to order. </h5>
	      </div>
	      <div class="modal-body">
	      	<div class="well">
	      	<div>Book: {{bookinfo.title}}</div>
	      	<div>Written By: {{bookinfo.authors}}</div>
	        <div>Currently in stock: {{bookinfo.stock}}</div>
	        <div>Price: ${{bookinfo.price}}0</div>
	        	<label>Order Quantity: </label>
	        		<input type="number" name="quantity" id="quantity" class="tar num" value="1" min="1" max="{{bookinfo.stock}}"/>

	    </div>
	      </div>
	      <div class="modal-footer">
	        <div class="form-group">
	          <button class="btn btn-primary pull-right" ng-click="order({{bookinfo.isbn10}})">CONFIRM ORDER</button>
	        </div>
	      </div>
	    </div>

	  </div>
	</div>



	<div id="usefulnessModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Rate Usefulness of Feedback</h4>
	        <h5>Please give this feedback a score of 0, 1, or 2 (’useless’, ’useful’, ’very useful’ respectively). (</h5>
	      </div>
	      <div class="modal-body">
	      	<div class="well">
	      	{% block content %}
			
			<form role="form" action="" method="post">
			    {% csrf_token %}	
				<table class="addtable">
			    {{ form.as_table }}
				</table>
				<p>

			
			{% endblock %}

	    </div>
	      </div>
	      <div class="modal-footer">
	        <div class="form-group">
	          <button class="btn btn-primary pull-right"  type="submit">RATE USER FEEDBACK</button>
	        </div>
	      </div>
	      </form>
	    </div>

	  </div>
	</div>
  {% include 'javascripts.html' %}
  <script>
		$(document).ready(function(){
			$(".announce").click(function(){
				var text = $(this).data('id')
				var book = text.split("/*")
				$("#id_ISBN10").val(book[0]);
				$("#id_title").val(book[1]);
				$("#id_rating_on").val(book[2]);

				$("#usefulnessModal").modal('show');
			});
		});
	</script>
</body>
</html>
