<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid ">
    <div class="navbar-header navbar-static-top">
      <button type="button" class="navbar-toggle collapsed navbar-fixed-top" data-toggle="collapse" data-target="#not-google-plus-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-fixed-top" href="#"><img id="logo" alt="B&amp;N" src="../../static/images/b&amp;n.png"></a>

              
        <div class="btn-group btn-group-sm navbar-fixed-bottom">
          <!-- Buttons -->
          <div class="btn-group">
          <input type="text" class="form-control white" placeholder="Enter book search here..."></div>
          <button type="button" id="search" class="btn btn-default glyphicon glyphicon-search down aria-label="Left Align"">            
          </button>
          <button type="button" id="advancesearch" class="btn btn-link" onclick = "location.href='/search/'">
          Advanced Search
          </button>
        </div>
        
      
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
          {% if user.is_admin %}
            <li><a href="/store_info/">Store Info</a></li>
          {% else %}
            <li><a href="/+cart"><div class="glyphicon glyphicon-shopping-cart">Cart</div></a></li>
          {% endif %}
          <li role="presentation" class="dropdown"><a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">+{{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" >
              <li><a href="/account/{{user.username}}">My Account</a></li>
              <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
              <li><a href="#">Order History</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          

        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
