<!DOCTYPE html>

<html ng-app="thinkster">
<head>
  <title>thinkster-django-angular-boilerplate</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  	<div class="container">
		<div class="well">
			<div class="acc">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#acc">Account Information</a></li>
			  <li><a data-toggle="tab" href="#oh">Order History</a></li>
			  <li><a data-toggle="tab" href="#fh">Feedback History</a></li>
			  <li><a data-toggle="tab" href="#uh">Usefulness Rating History</a></li>

			</ul>
			<h4>{{msg}}</h4>
			<div class="container">
			<div class="tab-content">
			  <div id="acc" class="tab-pane fade in active topmarg">
			  	<div class="leftmarg">
			  		<h1>Account Page</h1>
			 	 </div>
			  	<div class="row smallmarg">
			  		<div class="col-md-1">
			  		</div>
			  		<div class="col-md-2">
			  			<div>Full Name:</div>
			  		</div>
			  		<div class="col-md-3">
			  			<div>{{ account_info.full_name }}</div>
			  		</div>
			  	</div>
			  	<div class="row smallmarg">			  		
			  		<div class="col-md-1">
			  		</div>
			  		<div class="col-md-2">
			  			<div>Username:</div>
			  		</div>
			  		<div class="col-md-3">
			  			<div>{{ account_info.username }}</div>
			  		</div>
			  	</div>
			  	<div class="row smallmarg">
			  		<div class="col-md-1">
			  		</div>
			  		<div class="col-md-2">
			  			<div>Credit Card Number:</div>
			  		</div>
			  		<div class="col-md-3">
			  			<div>{{ account_info.credit_card }}</div>
			  		</div>
			  	</div>
			  	<div class="row smallmarg">
			  		<div class="col-md-1">
			  		</div>
			  		<div class="col-md-2">
			  			<div>Address:</div>
			  		</div>
			  		<div class="col-md-3">
			  			<div>{{ account_info.address }}</div>
			  		</div>
			  	</div>
			  	<div class="row smallmarg">
			  		<div class="col-md-1">
			  		</div>
			  		<div class="col-md-2">
			  			<div>Phone Number:</div>
			  		</div>
			  		<div class="col-md-3">
			  			<div>{{ account_info.phone }}</div>
			  		</div>
			  	</div>					
			  </div>



			  <div id="oh" class="tab-pane fade">
			  	<div class="leftmarg topmarg">
			  		<h1>Order History</h1>
			  	</div>
			  	<div class="addtable smallmarg">
				  	<table class="ftable">
				  		<tr>
				  			<th>S/N.</th>
				  			<th>Date of Order</th>
				  			<th>Book Title</th>
				  			<th>Price ($)</th>
				  			<th>Quantity Ordered</th>
				  			<th>Feedback Done?</th>
				  		</tr>

				  		{% if orders %}
							{% for orderhistory, book, book_ordered, isFB in orders reversed %}
							<tr>
								<td> </td>
								<td>{{ orderhistory.order_date }}</td>
								<td>{{ book.title }}</td>
								<td>{{ book.price }}</td>
								<td>{{ book_ordered.0.quantity }}</td>
								{% if isFB %}
									<td><a href="javascript:void(0)" class="announce"  data-target="#feedbackModal" data-id="{{book.isbn10}}/*{{book.title}}">Feedback Here!</a></td>
								{% else %}
									<td> Done Feedback </td>
								{% endif %}
								
							</tr>
							{% endfor %}
						{% else %}
							<div>You have not ordered anything!</div>
						{% endif %}
					</table>
				</div>
			  	
			  </div>

			  <div id="fh" class="tab-pane fade">
			  	<div class="leftmarg topmarg"><h1>Feedback</h1></div>
			  	<div class="addtable smallmarg">
				  	<table class="ftable">
				  		<tr>
				  			<th>S/N.</th>
				  			<th>Date of Feedback</th>
				  			<th>Book Title</th>
				  			<th>Score Given</th>
				  			<th>Your Feedback</th>
				  		</tr>
				  		{% if feedbacks %}
							{% for feedback, book in feedbacks %}
					  		<tr>
								<td> </td>
								<td>{{ feedback.entry_date }}</td>
								<td>{{ book.title }}</td>
								<td>{{ feedback.score }}</td>
								<td>{{ feedback.opinion }}</td>
							</tr>
							{% endfor %}
					</table>

						
						{% else %}
						<div>You have no feedback!</div>
						{% endif %}
				  	
				  </div>
				</div>


			   <div id="uh" class="tab-pane fade">
					<div class="leftmarg topmarg"><h1>Ratings</h1></div>
					<div class="addtable smallmarg">
					  	<table class="ftable">
					  		<tr>
					  			<th>S/N.</th>
					  			<th>You Rated a Feedback On Book Titled</th>
					  			<th>Feedback From</th>
					  			<th>Feedback</th>
					  			<th>Usefulness Rating Given</th>
					  			<th>Your Rating On This</th>
					  		</tr>
					  		{% if ratings %}
								{% for rating, customer_ratee, book, feedback in ratings %}
						  		<tr>
									<td> </td>
									<td>{{ book.title }}</td>
									<td>{{ customer_ratee.username }}</td>
									<td>{{ feedback.opinion }}</td>
									<td>{{ rating.usefulness }}</td>
									{% if rating.usefulness == 0 %}
										<td>You thought this feedback was useless...</td>
									{% elif rating.usefulness == 1 %}
										<td>You thought this feedback was average.</td>
									{% else %}
										<td>You thought this feedback was good!</td>
									{% endif %}
								</tr>
								{% endfor %}
						</table>

							
							{% else %}
							<div>You have no rated feedback!</div>
							{% endif %}
					  	
					  </div>
					
								  	
			  	
			  </div>
			</div>
			</div>

			</div>
			
			

			

		</div>
	</div>

	  <!-- Modal -->
	<div id="feedbackModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"> <strong>Feedback</strong></h4>
	        <h5>Please enter your feedback for <span id="BookId"></span><span id="Title"></span> here. Give it a score from 0 (terrible) to 10 (wonderful).</h5>
	      </div>
	      <div class="modal-body">
	      	<div class="well">
	      	{% block content %}
			
			<form role="form" action="" method="post">
			    {% csrf_token %}	
				<table class="addtable">
			    {{ form.as_table }}
				</table>
				<p>

			
			{% endblock %}

	    </div>
	      </div>
	      <div class="modal-footer">
	        <div class="form-group">
	          <button class="btn btn-primary pull-right"  type="submit">FEEDBACK</button>
	        </div>
	      </div>
	      </form>
	    </div>

	  </div>
	</div>

  {% include 'javascripts.html' %}
  	<script>
		$(document).ready(function(){
			$(".announce").click(function(){
				var text = $(this).data('id')
				var book = text.split("/*")
				$("#id_ISBN10").val(book[0]);
				$("#id_title").val(book[1]);

				document.getElementById("BookId").innerHTML = "("+book[0]+") ";
				document.getElementById("Title").innerHTML = book[1];
				$("#feedbackModal").modal('show');
			});
		});
	</script>
</body>
</html>
