#logo {
	border-radius:10px 10px 10px 10px;
	background-repeat: no-repeat;
	width: 55px;
	height:auto;

}

.logo{
	width: 50px;
}

.navbar .navbar-nav {
    padding-top: 10px;
    padding-bottom: 15px;
}

.navbar-default {
    border-color: #E7E7E7;
    background: #e3d6a5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e3d6a5, #b6ad89); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3d6a5, #b6ad89); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3d6a5, #b6ad89); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3d6a5, #b6ad89); /* Standard syntax */
}

.btn-default {
    color: white  !important;
}

.btn-group{
	margin:12px !important;
	box-shadow: none !important;
}
#search{
    margin-top:14px !important;
}
#advancesearch{
	margin-top:15px !important;
}

.white{
    color:white !important;
}

#homepage{
    height:560px;
    width:100%;
    bottom:60px;
}
.shelve{
    
    background-image: url("../images/shelves.jpg");
    background-repeat: no-repeat;
    background-size: 80% 170%;
    background-position: center bottom;
}

body{
    background-color: #E0F1FC !important;
}

.oc{
  height: auto;
  width: 17%;
  margin: auto;
}

.nav-tabs {
    background: transparent !important;
}

.nav-tabs > li > a {
    color: black;
    border: 3px black !important;
    margin: 0;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        color: black;
    border: 3px black !important;
    margin: 0;

    }
.nav-tabs > li.active {
    float: left;
    margin-bottom: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    margin-right: 3px;
    background-color: rgba(255,255,255,0.5);
}

.tar{
    text-align: right;
}
.tac{
    text-align: center;
}

.topmarg{
    margin-top: 5%
}

.description{
    margin-top:1%;
    text-align: justify;
    margin-bottom: 5%
}

.bb{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5%;
}

#checkout{
    margin-top:-10px;
    background-color: rgba(255,255,255,0.9);
    border:1px solid #ddd;
}

.reviewer{
    font-size: 0.8em;
}

.score{
    font-weight: bold;
    font-size: 1.2em;
}

.opinion{
    margin-top:1%;
}

.tab-color{
    background-color: rgba(255,255,255,0.4);
    width: 100% !important;
    height: 80% !important;
}

.scroll-review{
    overflow-x: hidden;
    overflow-y: auto;
    height: 365px;
}

.nnum {
    float:none !important;
    width: 25px !important;

}

.inventory{
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px !important;
}

.ftable th, .stats th{
    background-color:#e3d6a5;
}

.ftable tr:nth-child(even),.stats tr:nth-child(even){background-color: #f2f2f2}

.smallmarg{
    margin-top: 2%
}

.ftable tr + tr, .stats tr + tr {
    counter-increment: rowNumber+1;
}

.ftable tr:not(.fble_htr) td:first-child::before, .stats tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
.ftable th, .ftable td, .stats th, .stats td{
    padding: 10px 5px;
    text-align: left;
    border:1px solid #ddd;
}

.ftable{
    margin-left:15px;
    margin-right:100px;
}

#add,#edit,#top, #new, #back, #up, #stats, #feedb{
    border:1px solid #ddd;
    box-shadow: 1px 1px 1px #888888;
}

.addtable{
    margin-left:40px;
    height:400px;
}
.addtable th, .addtable td, .etable th, .etable td, .stats th, .stats td{
    padding:  5px;
    text-align: left;
   
}

.leftmarg{
    margin-left: 20px;
}

.margauto{
    margin-left: 17%
}

.addbook{
    width:40%;
    margin:auto;
}

.etable{
    margin-top:20px;
}

.stable{
    margin-left:5%;
    margin-top:1%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px !important;
    width: 80%;
}

.utable{
    margin-left:5%;
    margin-top:1%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px !important;
    width: 80%;
}
.acc{
    height: 510px;
}

.margr{
    margin-right: 30px;
}

.smallpic{
    height:140px;
    }
.searcht{

    margin-top:1%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 470px;

}
.tbl{
    cursor: pointer;
}

#topn{
    padding:5px !important;
    margin:0 !important;
    margin-bottom: 3px;
    color: black !important;
    background-color: rgba(255,255,255,0.9);
    border:1px solid #ddd;

}